.product-page{
  display: flex;

}

.product-page-product-body{
  width: 60%;
  height: 700px;
  border: solid 1px black;
  margin: 20px;
}

.product-page-product-header{
  background-color: rgb(95, 95, 255);
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  margin-bottom: 20px;
  height: 100px;
  border-bottom: solid 1px black;
}

.product-page-product-title{
  margin: 0px;
  width: 100%;
}

.product-page-product-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-page-product-image{
  max-width: 50%;
  max-height: 40%;
  margin: 0 auto;
}

.product-page-product-footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: 1px solid black;
  margin-top: 20px;
  padding-bottom: 30px;;
}

.product-page-product-price{
  margin: 5px;
}

.product-page-specifics{
  width: 40%;
  height: fit-content;
  border: solid 1px black;
  margin: 20px;
}

.product-page-specifics-description-box-header{
  border-bottom: 1px solid black;
  color: white;
  text-align: center;
  background-color: rgb(95, 95, 255);
  height: 50;
}

.product-page-specifics-description-box-title{
  margin: 0px;
}

.product-page-specifics-description-box-text{
  margin: 10px; 
  padding: 10px;
  text-align: center;
  border: solid 1px black;
}

.product-page-specifics-ratings{
  border-top: solid 1px black;
}

.product-page-specifics-ratings-header{
  border-bottom: solid 1px black;
  background-color: rgb(95, 95, 255);
  color: white;
  text-align: center;
  height: 50px;
}

.product-page-specifics-ratings-title{
  margin: 0px;
}

.product-page-specifics-ratings-comment-section{
  margin: 10px;
  display: flex;
  justify-content: center;
  border: solid 1px black;
}

.product-page-specifics-ratings-comment-box{
  width: 98%;
  margin: 10px;
}

