.login-box {
  border: solid rgb(0, 0, 0) 1px;
  background-color: white;
  display: flex;
  width: 400px;
  margin: 0px auto;
  flex-direction: column;
  justify-content: center;
}

.login-box > .login-box-header{
  color: rgb(255, 255, 255);
  background-color: rgb(95, 95, 255);
  border-bottom: 1px solid black;
  text-align: center;
}


.login-box > .login-box-body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 20px;
}

.login-box > .login-box-body > .login-box-buttons{
    display: flex;
    border-top: 1px solid black;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}
