.background{
  background-color: #ffffff;
  display:flex;
  justify-content: space-between;
  height: 45px;
  padding: 5px;
  border-bottom: 2px solid black;
}

.background > .products-category {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.background > .products-category > .link{
  width: 110px;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}
  
.background > .products-category > .link:hover{ 
  border-bottom: 1px solid black;
  cursor: pointer;
}

.background > .account-category{
  width: 90px;
  display: flex;
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
  list-style-type: none;
  text-align: center;
  align-items: center;
}

.background > .account-category > li {
  width: 90px;
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
  list-style-type: none;
  text-align: center;
}

.background > .account-category > li:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.cartSection:hover{
  transform: scale(1.1);
  cursor: pointer;
}