.background{
  background-color: #192a56;
  display:flex;
  justify-content: space-between;
  height: 30px;
  padding: 5px;
}

.background > .clothing-category {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.background > .clothing-category > button {
  height: 90%;
  width: 100px;
  margin: 5px;
  background-color: #273c75;
  border: solid rgb(0, 0, 0) 1px;
  color: rgb(77, 228, 248);
  font-family: 'Dongle', sans-serif;
}

.background > .clothing-category > button:hover {
  background-color: #3753a0;
}