.header {
  display: flex;
  padding: 20px;
  border: none;
}

.header > button {
  font-family: "Dongle", sans-serif;
  font-size: x-large;
  background-color: rgb(44, 182, 44);
  border: none;
  border-radius: 7px;
  width: 150px;
  height: 50px;
}

.header > button:hover {
  transform: scale(1.01);
  transition: 0.3s;
  cursor: pointer;
}

.info-box{
  width: 80%;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.info-box > .info-box-right{
  display: flex;

}

.productsinCart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productinCart {
  border-bottom: 1px solid rgb(226, 226, 226);
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 10px;                          
  margin: 10px;
  justify-content: space-between;
}

.product-body-left{
  width: 60%;
}

.product-body-right{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
}
.productinCart > img {
  width: 30px;
  height: 100%;
}

.trashcan:hover{
  cursor: pointer;
}
